body {
    color: #ffffff;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: 200;
    background-color: #353d45;
  }
  
  .example {
    padding: 0 25px;
  }
  
  label {
    display: block;
    margin: 5px 0;
  }
  
  code {
    padding: .2em .5em;
    font-size: 85%;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
  }
  
  .menu {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #cccccc;
  }
  
  .item {
    padding: 2px 6px;
    cursor: default;
    color: #333;
    background-color: #ffffff;
  }
  
  .item-highlighted {
    color: #ffffff;
    background-color: #1db954;
  }
  
  .item-header {
    background-color: #ffffff;
    color: #454545;
    font-weight: bold;
  }

  .searchTitle {
      color: #ffffff;
      padding-top: 100px;
  }

  .trackInfo {
      color: rgba(255, 255, 255, 0.8);
      padding-top: 100px;
      font-size: 20px;
  }

  .simName {
    color: rgba(30, 215, 96, 1);
  }

  .trackID {
      color: #99a4ae;
      background-color: #2c313b;
      width: 280px;
      margin: 5px 0;
      padding: 10px 0;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  .similar {
    color: #99a4ae;
    background-color: #2c313b;
    width: 280px;
    margin: 5px 0;
    padding: 10px 0;
    border-radius: 5px;
  }

  .dataType {
    color: rgba(30, 215, 96, 0.65);
    margin: 10px 5px 0 0;
  }

  .dataSong {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #states-autocomplete{
    width: 320px;
    text-align: center;
    border-radius: 20px;
  }

  .musicChart {
    margin: 100px 0;
  }

  .spinnerFlex {
    padding: 20% 0 0 0;
  }

  .white {
    color: white;
  }